/* Navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 32px;
gap: 32px;

position: absolute;
width: 375px;
height: 38px;
left: 569px;
top: 860px;

background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(12.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 51px;

/* Home */

width: 46px;
height: 22px;

font-family: "Nunito";
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* About */

width: 45px;
height: 22px;

font-family: "Nunito";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Works */

width: 47px;
height: 22px;

font-family: "Nunito";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.5);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Contact us */

width: 77px;
height: 22px;

font-family: "Nunito";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.5);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
